<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Chatgrape WebRTC Chat</title>
    <link href="/static/css/app.css" rel="stylesheet">
  </head>
  <body>
    <div id="chat_container"></div>
    <script type='text/javascript'>
      var ROOM_ID = "{{room_id}}";
    </script>
    <script src="/static/js/otr.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
